@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    /* linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ), */
      /* linear-gradient(
        348deg,
        rgba(42, 42, 42, 0.02) 0%,
        rgba(42, 42, 42, 0.02) 20%,
        rgba(8, 8, 8, 0.02) 20%,
        rgba(8, 8, 8, 0.02) 40%,
        rgba(242, 242, 242, 0.02) 40%,
        rgba(242, 242, 242, 0.02) 60%,
        rgba(42, 42, 42, 0.02) 60%,
        rgba(42, 42, 42, 0.02) 80%,
        rgba(80, 80, 80, 0.02) 80%,
        rgba(80, 80, 80, 0.02) 100%
      ), */
      /* linear-gradient(
      120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ), */
      /* linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%
    ), */
      /* linear-gradient(
        59deg,
        rgba(224, 224, 224, 0.03) 0%,
        rgba(224, 224, 224, 0.03) 12.5%,
        rgba(97, 97, 97, 0.03) 12.5%,
        rgba(97, 97, 97, 0.03) 25%,
        rgba(143, 143, 143, 0.03) 25%,
        rgba(143, 143, 143, 0.03) 37.5%,
        rgba(110, 110, 110, 0.03) 37.5%,
        rgba(110, 110, 110, 0.03) 50%,
        rgba(34, 34, 34, 0.03) 50%,
        rgba(34, 34, 34, 0.03) 62.5%,
        rgba(155, 155, 155, 0.03) 62.5%,
        rgba(155, 155, 155, 0.03) 75%,
        rgba(249, 249, 249, 0.03) 75%,
        rgba(249, 249, 249, 0.03) 87.5%,
        rgba(179, 179, 179, 0.03) 87.5%,
        rgba(179, 179, 179, 0.03) 100%
      ), */
      /* linear-gradient(
      241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ), */
      linear-gradient(90deg, #ffffff, #ffffff);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row-div {
  display: flex;
  flex-wrap: wrap;
}
.justify-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  margin: 40px 0px 50px;
}
.col-8 {
  width: calc(calc(100% / 3) * 2);
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: calc(100% / 3);
}
/* Index page start */
.home-top-margin {
  padding-top: 100px;
}
.shop-now-btn {
  padding: 15px 25px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  top: -57px;
  left: 50px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.4s ease;
}
.shop-now-btn:hover {
  background-color: #000;
  color: #fff;
}
.shop-now-btn svg {
  margin-left: 12px;
  position: relative;
  top: 2px;
}
.heading-line {
  margin: -42px 0px -52px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.home-background1 {
  background: url('/homebackground1.png') no-repeat;
  background-size: cover;
  height: 461px;
  width: 100%;
  border-radius: 15px;
  margin: 120px 0px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.home-background2 {
  background: url('/homebackground2.png') no-repeat;
  background-size: cover;
  height: 461px;
  width: 100%;
  border-radius: 15px;
  margin: 120px 0px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.home-image1 {
  text-align: -webkit-center;
}
.home-image1 img {
  height: 461px;
  width: auto;
  transform: scale(1.3);
}
div.home-content1-outside {
  height: 100%;
  width: 100%;
}
div.home-content1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.features-content-container {
  transition: 0.6s ease;
}
.networking-active {
  transition: 0.6s ease;
}
.home-content1-card {
  padding: 0px 40px;
}
.home-content1-card img {
  height: 50px;
  width: auto;
  margin-left: 40px;
}
.home-content1-card h5 {
  background-color: #fff;
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 7px 10px;
  width: max-content;
  border-radius: 5px;
}
.home-content1-card p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.subscribe-from {
  width: 420px;
  position: relative;
  top: -75px;
  left: 50px;
}
.subscribe-from input {
  width: 100%;
  height: 64px;
  padding-left: 15px;
  padding-right: 142px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid #000;
  transition: 0.3s ease;
}
.subscribe-from input:focus {
  outline: 0;
  border: 2px solid #000;
}
.subscribe-from button {
  position: relative;
  padding: 12px 37px;
  left: 278px;
  top: -56px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.home-how-it-work {
  text-align: -webkit-center;
  margin-top: -80px;
}
.home-networking {
  text-align: -webkit-center;
}
.home-how-it-work h2 {
  font-size: 32px;
  font-weight: 600;
}
.home-networking h2 {
  font-size: 32px;
  font-weight: 600;
}
.background-level {
  background: url('/backgroundlevel.png') no-repeat center;
  background-size: cover;
  height: 50px;
  width: 71%;
  margin: 20px 0px 0px;
}
.card-how-it {
  border: 1px solid #bdbdbd78;
  border-radius: 15px;
  margin: 32px;
  padding: 20px 35px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 6%);
}
.card-how-it2 {
  border: 1px solid #bdbdbd78;
  border-radius: 15px;
  margin: 32px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 6%);
}
.card-how-it img {
  height: 250px;
  width: auto;
}
.card-how-it2 img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-how-it2-inside {
  padding: 20px 35px;
}
.card-how-it h5 {
  text-align: left;
  font-size: 20px;
  margin: 0px 0px 0px;
}
.card-how-it2-inside h5 {
  text-align: left;
  font-size: 20px;
  margin: 0px 0px 0px;
}
.card-how-it p {
  text-align: left;
}
.card-how-it2-inside p {
  text-align: left;
}
.card-how-it span {
  -webkit-text-stroke: 0.8px #000;
  -webkit-text-fill-color: #fff;
}
.card-how-it2-inside span {
  -webkit-text-stroke: 0.8px #000;
  -webkit-text-fill-color: #fff;
}
.networking-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.networking-crd {
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
}
.networking-active {
  background-color: #fff;
}
.networking-crd p {
  margin: 0px 10px;
  font-size: 15px;
  font-weight: 500;
}
.networking-crd img {
  height: 40px;
  width: auto;
}
.home-networking-ber {
  background-color: #e5e5e500;
  padding: 15px 25px;
  border-radius: 30px;
  margin: 40px 0px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 6%);
}
.flex-div {
  display: flex;
}
.alignment-crd {
  text-align: left;
  padding-right: 60px;
}
.alignment-crd h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}
.alignment-crd p {
  font-size: 16px;
  font-weight: 400;
  color: #878383;
}
.alignment-crd h5 {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
  margin-left: 30px;
}
.alignment-crd img {
  height: 55px;
  width: auto;
}
.share-image-fit img {
  display: block;
  height: 100%;
  width: 100%;
}
.navigation-round {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.round-key {
  height: 15px;
  width: 15px;
  background-color: #d9d9d9;
  margin: 3px;
  border-radius: 50%;
}
.round-active {
  background-color: #0185ff;
  transform: scale(1.2);
}
.home-product {
  margin-top: 50px;
  text-align: -webkit-center;
}
.home-product h2 {
  font-size: 32px;
  font-weight: 600;
}
.product-price {
  display: flex;
  justify-content: space-between;
}
.product-card h5 {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}
.product-card p {
  text-align: left !important;
  font-size: 14px;
  color: #878383;
  font-weight: 400;
}
.product-card {
  border: 1px solid #bdbdbd;
  padding: 28px 19px;
  border-radius: 30px;
  width: 100%;
}
.product-card img {
  transition: 0.4s ease;
  max-height: 100%;
  width: 100%;
}
.product-card img:hover {
  transform: scale(1.1);
}
.product-price label {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  background-color: #e5e5e5;
  padding: 6px 20px 6px 19px;
  left: -19px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.product-price a {
  font-weight: 600;
  font-size: 20px;
  background-color: #e5e5e5;
  padding: 4px 20px;
  border-radius: 30px;
  color: #0185ff;
}
.product-seemore {
  margin: 30px 0px;
}
.product-seemore a {
  background-color: #000;
  color: #fff;
  padding: 12px 40px;
  border-radius: 12px;
  border: 1px solid #000;
  transition: 0.4s ease;
}
.product-seemore a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.home-web3-browser {
  text-align: -webkit-center;
  margin: 50px 0px;
}
.home-web3-browser h2 {
  font-size: 32px;
  font-weight: 600;
}
.content-web3 {
  display: flex;
  background-color: #e6e6e6;
  padding: 14px 15px;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content-web3-inside h5 {
  margin: 0px;
  text-align: left;
}
.content-web3-inside p {
  margin: 0px;
  text-align: left;
}
.card-web3-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -7px;
}
.content-web3 img {
  height: 48px;
  width: auto;
}
.content-web3-inside h5 {
  font-size: 16px;
}
.content-web3-inside p {
  font-size: 12px;
}
.content-web3 label {
  background-color: #fff;
  padding: 2px;
  border-radius: 34px;
  color: #0185ff;
  font-weight: 600;
  font-size: 21px;
  height: 35px;
  width: 75px;
  margin-top: 7px;
}

/* swiper card start */
.slider-web3-browser .swiper-slide {
  transition: all 0.4s linear;
  transform: scale(0.9);
}
.slider-web3-browser .swiper-slide-active {
  transition: all 0.4s linear;
  transform: scale(1);
}
.slider-web3-browser .swiper-slide-duplicate-prev {
  transition: all 0.3s linear;
  transform: scale(0.8);
}
.slider-web3-browser .swiper-slide-duplicate-next {
  transition: all 0.3s linear;
  transform: scale(0.8);
}
.slider-web3-browser .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}
.individual-product-slider
  .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}
.qr-slider .swiper .swiper-pagination-bullets {
  display: none;
}
.swiper-pagination-bullet {
  height: 14px !important;
  width: 14px !important;
}
/* swiper card end */

/* video start */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 35px 0px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
video {
  pointer-events: none;
}
video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}
/* video end */
/* Index page ends */

/* D app page start */
.dapp-monkey-top {
  width: 50%;
}
.d-app-search h1 {
  font-size: 32px;
  font-weight: 600;
}
.d-app-search {
  text-align: center;
  margin: 35px 0px;
}
.d-app-search input {
  height: 50px;
  width: 750px;
  border-radius: 15px;
  background-color: #fafafa;
  border: 0;
  padding-left: 85px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  transition: 0.4s ease;
  font-size: 20px;
}
.d-app-search input:focus {
  outline: 0;
}
.d-app-search img {
  position: relative;
  left: 69px;
  top: 10px;
  height: 33px;
  width: 33px;
}
.dapp-marketplace {
  margin: 130px 0px 30px;
}
.dapp-marketplace-first {
  background: url('/dappbackground1.png') no-repeat;
  background-size: cover;
  height: 314px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.monkey-img {
  position: relative;
  bottom: 101px;
  left: 32px;
  height: 415px;
  width: auto;
}
.opensea-img {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
.opensea-img img {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}
.content-dapp {
  display: flex;
  background-color: #e6e6e6;
  height: 22%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 22px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.card-dapp-img {
  width: 100%;
  height: 78%;
  display: block;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.card-dapp {
  margin-left: 15px;
  height: 314px;
}
.content-dapp img {
  height: 46px;
  width: auto;
}
.content-dapp label {
  height: 32px;
  width: 70px;
  background-color: #fff;
  padding: 3px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 9px;
}
.content-dapp-in {
  width: 200px;
}
.dapp-marketplace h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: #a0a0a0;
  margin-left: 25px;
}
#extra-margin-dapp {
  margin-left: 40px;
}
.dapp-slider .swiper-slide-duplicate-active {
  opacity: 0.7;
  transform: scale(0.95);
}
.dapp-slider-card img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.dapp-slider-card h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a0a0a0;
  margin-left: 20px;
  margin-top: 0px;
}
.dapp-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0px;
}
.dapp-bottom div img {
  height: 80%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.dapp-bottom div h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a0a0a0;
  margin-left: 20px;
  margin-top: 0px;
}
.dapp-bottom1 {
  width: 45%;
  max-height: 100%;
}
.dapp-bottom2 {
  width: 22%;
  max-height: 100%;
}
.dapp-bottom3 {
  width: 30%;
  max-height: 100%;
}
/* D app page end */

/* shop page start  */
.shop-top-content h1 {
  text-align: center;
  margin-top: 0px;
}
.shop-top-content {
  margin-top: 35px;
}
.shop-top-content p {
  text-align: center;
}
.shop-product-ads {
  background: url('/shopadsbackground.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 30px 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
div.shop-product-content {
  height: 100%;
  width: 100%;
}
div.shop-product-content-inside {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shop-product-content-inside h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 0px;
}
.shop-product-content-inside p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.shop-product-ads-img {
  text-align: -webkit-center;
}
.shop-product-ads-img img {
  display: block;
  height: 100%;
  max-width: 100%;
}

/* shop page end */

/* product page start */
.product-details {
  margin: 35px 0px;
}
.individual-product-slider {
  margin: 40px 0px 50px;
}
.product-background {
  background: url('/productbackground.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}
.product-background img {
  height: 100%;
  width: 100%;
  padding: 40px;
}
.border-product-detail {
  border: 1px solid #c2c2c2;
  border-radius: 30px;
}
div.product-details-content {
  height: 100%;
  width: 100%;
}
div.product-details-content-inside {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0px 40px;
}
.product-details-content-inside h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px;
}
.product-details-content-inside h4 {
  font-size: 26px;
  font-weight: 600;
  margin: 0px;
}
.product-details-content-inside h5 {
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0px;
}
.product-details-content-inside h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0px;
}
.product-details-content-inside span {
  color: #0578ff;
}
.customize-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customize-image div {
  margin-bottom: 10px;
}
.color-container {
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  width: 49%;
  padding: 7px 28px;
  border-radius: 15px;
  justify-content: center;
}
.product-details-color {
  height: 1.7em;
  width: 1.7em;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  top: 5px;
}
.product-details-color input[type='color'] {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
#color-first {
  border: 1px solid #fff;
  outline: 1px solid #000;
}
#color-second {
  margin-left: 15px;
}
.upload-image-container {
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  width: 49%;
  padding: 6px 18px;
  border-radius: 15px;
}
.upload-image-container input {
  display: inline-block;
  width: 100%;
  padding: 40px 0 0 0;
  height: 40px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/uploadimage.png') no-repeat #ffffff center;
  background-size: auto;
  cursor: pointer;
}
.text-container {
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  width: 49%;
  padding: 10px 28px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.text-container h6 {
  margin-left: 6px;
}
.font-container {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  width: 49%;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  display: grid;
  place-items: center;
}
.font-container select {
  border: 0;
  font-size: 20px;
  font-weight: 500;
}
.font-container select:focus {
  outline: none;
}
.product-details-quantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-quantity-single {
  text-align: -webkit-center;
  width: 31%;
  border: 1px solid #404040;
  border-radius: 15px;
}
.product-quantity-multi {
  text-align: -webkit-center;
  width: 31%;
  border: 1px solid #404040;
  border-radius: 15px;
  opacity: 0.5;
}
.product-quantity-double {
  text-align: -webkit-center;
  width: 31%;
  border: 1px solid #404040;
  border-radius: 15px;
  opacity: 0.5;
}
.product-details-quantity div p {
  margin: 0px;
  background-color: #404040;
  color: #fff;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding: 5px 0px;
}
.product-details-quantity img {
  padding: 10px;
}
.product-details-quantity label {
  position: absolute;
  padding: 0px 10px;
  background-color: #f5f3f3;
  margin: -10px 60px;
  border-radius: 5px;
  border: 1px solid #000000;
}
.addtocart-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #000;
  transition: 0.4s ease;
}
.addtocart-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.product-multi-outside {
  height: 60%;
  width: 100%;
}
.product-multi-inside {
  display: flex;
  padding: 3px 8px;
  width: 90px;
  justify-content: space-between;
  color: #fff;
  border-radius: 10px;
  background-color: #404040;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-multi-inside svg {
  margin-top: 4px;
  cursor: pointers;
}
.product-description-title {
  display: flex;
}
.product-description-title h4 {
  margin: 0px 20px 0px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #929292;
  cursor: pointer;
}
.product-description p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}
.product-description {
  background-color: #000;
  color: #fff;
  margin: 30px 0px 125px;
  border-radius: 30px;
  padding: 20px 50px;
}
#active-title {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
/* product page end */

/* about page start */
.about-futuristic {
  text-align: -webkit-center;
}
.about-futuristic h2 {
  font-size: 32px;
  font-weight: 600;
}
.about-features h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.features-top-content {
  text-align: center;
  margin: 0px;
}
.about-mid-container {
  margin: 50px 0px 100px;
}
.about-card {
  text-align: -webkit-center;
  padding: 15px 50px;
}
.about-card img {
  height: 420px;
  width: auto;
}
.about-card h5 {
  font-size: 28px;
  font-weight: 500;
  margin: 0px;
}
.about-features {
  margin: 30px 0px;
}
.features-card-content {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}
.features-card-content h4 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.features-card-image img {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: auto;
}
.about-roadmap {
  text-align: center;
  margin: 50px 0px 80px;
}
.about-roadmap h2 {
  font-size: 32px;
  font-weight: 600;
}
.about-roadmap img {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: 50px 0px 30px;
}
.roadmap-content {
  display: flex;
}
.roadmap-content h5 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}
.roadmap-content p {
  font-size: 12px;
}
.roadmap-content div {
  width: calc(100% / 5);
  padding: 0px 12px;
}
.roadmap-1 h5 {
  color: #9dc92e;
}
.roadmap-2 h5 {
  color: #55bba5;
}
.roadmap-3 h5 {
  color: #50a1bc;
}
.roadmap-4 h5 {
  color: #8aaace;
}
.roadmap-5 h5 {
  color: #745f8a;
}
/* about page end */

/* return-policy page start */

.return-policy {
  text-align: center;
  margin: 35px 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.return-policy h1 {
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  width: 60%;
  margin: auto;
}
.return-policy h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
}
.return-policy p {
  margin: 5px 0px;
  text-align: justify;
}
.return-policy span {
  color: #878383;
}
.return-policy a {
  color: #55bba5;
}
#return-p {
  text-align: center;
}
/* return-policy page end */

/* contact page start */
.contact-top {
  text-align: center;
  max-width: 800px;
  margin: 90px auto;
}
.contact-top p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.contact-top h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}
.contact-content input {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  border-radius: 25px;
  border: 1px solid #c4c4c4;
  padding: 0px 15px;
}
.contact-content input:focus {
  border: 1px solid #000;
  outline: 0;
}
.contact-content textarea {
  width: 100%;
  margin: 10px 0px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  padding: 10px 15px;
}
.contact-content textarea:focus {
  border: 1px solid #000;
  outline: 0;
}
.contact-content button {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  transition: 0.4s ease;
}
.contact-content button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.contact-image {
  display: grid;
  height: 100%;
  justify-content: center;
  place-items: center;
}
.contact-image img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
/* contact page end */

/* help page start */
.help-container {
  margin: 50px auto;
  text-align: center;
}
.help-container h1 {
  font-size: 30px;
  font-weight: 600;
}
.help-container span {
  color: #50a1bc;
}
.help-container a:hover {
  color: #50a1bc;
}
#help-paragraph {
  max-width: 730px;
  margin: auto;
}
.help-youtube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0px;
}
.help-youtube div {
  max-width: 24%;
}
.help-youtube-inside iframe {
  width: 100%;
  height: 89%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  transition: 0.4s ease;
}
.help-youtube-inside iframe:hover {
  transform: scale(1.02);
}
.help-youtube-inside p {
  margin: 0px;
  text-align: left;
}
.frequently-asked h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 50px 0px 40px;
}
.frequently-asked {
  margin: 20px 0px;
  text-align: left;
}
.troubleshoot {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.troubleshoot h4 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}
.help-detail-title {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #c1c1c1;
}
.help-detail-title h4 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}
.help-detail {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-top: -1px;
}
.help-detail p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.help-detail-content {
  margin: 0;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: 1px solid #c1c1c1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  transform: scaleY(1.02);
  font-size: 18px;
}
/* help page end */

/* qr-generator page start */
.center-icon {
  display: flex;
  align-items: center;
}
.qr-custom-div {
  width: 50%;
}
.qr-top-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}
.qr-top-first {
  width: 58%;
  padding: 30px 50px;
  border: 2px solid #9b9b9b;
  border-radius: 25px;
}
.center-icon-border {
  padding: 13px;
  border-left: 2px solid #9b9b9b;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-left: -45px;
}
.qr-top-first-inside {
  display: flex;
  flex-wrap: wrap;
}
.qr-top-first-inside div {
  width: 20%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 15px;
}
.qr-top-first-inside div:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 80%; /* or 100px */
  border-bottom: 2px solid #e2e2e2;
}
.qr-top-first-inside div p {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 500;
  color: rgba(101, 101, 101, 1);
}
.qr-top-icon img {
  height: 20px;
  width: auto;
}
#automatic-qr {
  font-size: 12px;
  color: rgba(181, 181, 181, 1);
}
.website-link {
  width: 100%;
  margin: 100px 0px;
}
.website-link input {
  border: 0px;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid #a1a1a1;
  width: 70%;
  padding-bottom: 5px;
  background-color: transparent;
}
.website-link input:focus {
  outline: 0px;
}
.qr-top-second {
  width: 38%;
  height: 100%;
}
.qr-top-second-inside {
  display: block;
  width: 100%;
  height: 100%;
}
.qr-code-penel {
  margin-bottom: 140px;
  margin-top: 35px;
}
.qr-generator-bottom {
  margin-bottom: 135px;
}
.qr-generator-bottom h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.qr-generator-bottom p {
  text-align: center;
}
#qr-space-between {
  margin-bottom: 60px;
}
.qr-generator-background {
  background: url('/qrgenerator.png') no-repeat;
  background-size: contain;
  width: 100%;
  height: 480px;
  padding: 30px;
  border-radius: 30px;
}
.qr-generator-background img {
  height: 36px;
  width: auto;
}
.qr-generator-background label {
  display: block;
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
}
.qr-generator-custom-text1 {
  font-size: 18px;
  font-weight: 600;
  color: #878383;
  margin-left: -120px;
}
.qr-slider {
  margin-bottom: 50px;
}
.qr-top-first label {
  color: #a0a0a0;
}
.qr-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #876fd7, #bc8cef);
  color: #fff;
  height: 50px;
  font-weight: 400;
}
.qr-frame img {
  height: 20px;
  width: auto;
  cursor: pointer;
}
.qr-frame h5 {
  font-weight: 500;
  font-size: 16px;
}
.qr-shape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  height: 50px;
}
.qr-shape img {
  height: 10px;
  width: auto;
  cursor: pointer;
}
.qr-shape h5 {
  font-weight: 500;
  font-size: 16px;
  color: #aeaeae;
}
.qr-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  height: 50px;
}
.qr-logo h5 {
  font-weight: 500;
  font-size: 16px;
  color: #aeaeae;
}
.qr-logo img {
  height: 10px;
  width: auto;
  cursor: pointer;
}
.qr-generator-custom-text1 span {
  color: #fff;
}
.qr-generator-custom-text2 span {
  color: #fff;
}
.qr-generator-custom-text2 {
  font-size: 18px;
  font-weight: 600;
  color: #878383;
  margin-top: 30px;
}
.swiper-slide .qr-card {
  margin-left: -55px;
}
.swiper-slide .qr-card img {
  height: 100px;
  width: 100px;
  display: block;
  padding: 6px;
}
.swiper-slide-prev .qr-card {
  cursor: pointer;
  transform: scale(1.1) !important;
  opacity: 1 !important;
}
.swiper-slide-prev .qr-card img {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  border-radius: 15px;
}
.swiper-slide-active .qr-card {
  cursor: pointer;
  transform: perspective(400px) rotateY(35deg) !important;
}
.swiper-slide-next .qr-card {
  cursor: pointer;
}
.swiper-slide .qr-card {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.9);
  opacity: 0.7;
}
.upload-qr-logo {
  width: 400px;
  display: flex;
  align-items: center;
}
#upload-logo {
  background: url('/uploadlogo.png') no-repeat center left;
  display: inline-block;
  padding: 40px 0 0 0;
  height: 30px;
  width: 225px;
  overflow: hidden;
  box-sizing: border-box;
  background-size: auto;
  cursor: pointer;
}
.qr-generator-custom-text3 {
  font-size: 18px;
  font-weight: 600;
  color: #878383;
  margin-left: 91px;
  margin-top: 30px;
}
#phone_image {
  position: relative;
  height: 65%;
  max-width: 100%;
  transform: scale(1.4);
  margin-top: 70px;
  margin-left: 55px;
}
.qr-custom-margin {
  margin-top: 30px;
}
.qr-generator-custom-text3 span {
  color: #fff;
}
#rainbow-text {
  background-image: linear-gradient(
    to right,
    #ffb800,
    #e71b27,
    #674ebb,
    #00c2ff
  );
  -webkit-background-clip: text;
  color: transparent;
}
.qr-generator-double {
  height: 48%;
  margin-left: 3%;
  border: 1px solid #bdbdbd;
  display: grid;
  border-radius: 30px;
  width: 100%;
}
.qr-generator-double h4 {
  margin: 0px 10px;
  font-size: 32px;
  font-weight: 600;
}
.qr-generator-double h6 {
  margin: 0px 10px 10px;
  font-size: 22px;
  font-weight: 600;
}
.qr-generator-double label {
  padding: 15px 20px 0px;
  font-size: 18px;
  font-weight: 500;
}
.qr-card-container {
  display: flex;
  justify-content: space-around;
}
.qr_card-image {
  display: block;
  width: 31%;
  height: 85%;
}
.qr_card-image-4 {
  width: 100%;
  height: 100%;
  display: block;
}
.qr-crd-1 {
  padding: 15px 10px;
}
.image-first-qr {
  border-bottom-left-radius: 15px;
}
.image-last-qr {
  border-bottom-right-radius: 15px;
}
.qr-generator-double-bottom {
  background: url('/qr-genarator-card-image4.png') bottom no-repeat;
  background-size: contain;
  background-position-y: 60px;
  align-self: flex-end;
}
.qr-justify {
  display: flex;
  flex-wrap: wrap;
}
/* qr-generator page end */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
/* nav bar start */
.nav-top-item ul li {
  display: inline;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}
.nav-bottom-item ul li {
  display: inline;
  margin: 0px 20px;
  font-size: 18px;
  font-weight: 600;
}
.nav-top-item ul {
  margin: 0px;
}
.nav-bottom-item ul {
  margin: 0px;
}
.nav-top label {
  font-size: 12px;
  font-weight: 500;
  color: #878383;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #878383;
}
.nav-outside {
  padding: 15px 30px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 5;
}
.colorNav {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
}
.nav-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.nav-bottom h2,
.nav-bottom h3 {
  margin: 0px;
}
#cart-image {
  margin-bottom: -1.5px;
}
/* mobile nav start */

.nav-menu-ber img {
  display: block;
  height: 25px;
  width: auto;
}

.nav-menu-ber {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  position: fixed;
  z-index: 5;
  background-color: #fff;
}
.nav-menu-hidden {
  display: none;
  width: 100%;
  padding: 15px 30px 20px;
  margin-top: -5px;
  background-color: #fff;
  position: fixed;
  top: 80px;
  z-index: 5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 10px 10px 2px rgb(0 0 0 / 10%);
  transition: 0.4s ease;
}
.nav-menu-hidden input {
  height: 38px;
  width: 100%;
  background-color: rgba(238, 238, 238, 1);
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 0px 25px;
  margin-bottom: 15px;
}
.nav-menu-hidden input:focus {
  outline: 0;
}
.nav-menu-hidden a {
  font-size: 25px;
  margin: 5px 0px;
}
#border-line-bottom-menu {
  background-color: #000;
  height: 0.5px;
  width: 100%;
  margin: 5px 0px;
}
.menu-bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.menu-bottom-card {
  width: 48%;
  text-align: center;
  padding: 15px 25px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: #fff;
}
.menu-bottom-card h6 {
  font-size: 20px;
  margin: 0px;
  font-weight: 500;
}
.menu-bottom-card p {
  font-size: 15px;
  margin: 0px;
  font-weight: 400;
}
.menu-bottom-card a {
  font-size: 12px;
  margin: 0px;
  font-weight: 400;
  color: rgba(135, 131, 131, 1);
}
.app-logo-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.app-logo-container img {
  display: block;
  height: 44px;
  width: auto;
  margin: 0px 8px;
}

/* mobile nav end */
/* nav bar end */

/* footer start */
.footer {
  background-color: #000;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.footer-out {
  padding: 20px 0px;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top h4 {
  color: #fff;
  margin: 0;
}
.footer-first-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.footer-first-content img {
  margin-left: 10px;
}
.footer-link {
  margin-top: 30px;
}
#footer-link-bottom {
  padding-top: 20px;
}
.footer-link a {
  display: block;
  color: #fff;
}
.footer-inform-content h4 {
  width: 270px;
}
.subscribing-input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0px 10px;
  font-weight: 600;
  border: none;
}
.subscribing-input:focus {
  outline: 0;
}
.subscribing-btn {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 12px 28px;
  margin-top: 12px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.4s ease;
}
.subscribing-btn:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}
.footer-mid {
  color: #fff;
  text-align: right;
  margin-top: 30px;
  border-bottom: 1px solid #fff;
}
.footer-mid a {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
}
.footer-bottom {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 100px;
}
.icon-footer a {
  margin: 0px 3px;
}
/* footer end */

@media only screen and (min-width: 992px) and (max-width: 1220px) {
  .container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  .home-how-it-work p {
    font-size: 13px;
  }
  .background-level {
    background-size: contain;
    height: 40px;
  }
  .card-how-it h5 {
    font-size: 17px;
  }
  .card-how-it2-inside h5 {
    font-size: 17px;
  }
  .card-how-it {
    margin: 20px;
    padding: 8px 15px;
  }
  .card-how-it2-inside {
    margin: 20px;
    padding: 8px 15px;
  }
  .home-networking p {
    font-size: 13px;
  }
  .home-product p {
    font-size: 13px;
  }
  .home-web3-browser p {
    font-size: 13px;
  }
  .shop-top-content p {
    font-size: 13px;
  }
  .about-futuristic p {
    font-size: 13px;
  }
  .about-roadmap p {
    font-size: 13px;
  }
  .opensea-img img {
    width: 200px;
  }
  .swiper-slide-active .qr-card {
    margin-left: -45px;
  }
  .swiper-slide-prev .qr-card {
    transform: scale(1) !important;
    margin-left: -50px;
  }
  .qr-generator-bottom p {
    font-size: 13px;
  }
  .qr-generator-background {
    background-size: auto;
  }
  .qr-generator-custom-text3 {
    margin-left: 80px;
  }
  .qr_card-image {
    width: 31%;
    height: 101%;
  }
  .qr-top-first {
    padding: 20px 20px;
  }
  .qr-top-first-inside div p {
    margin-left: 5px;
  }
  .qr-top-icon img {
    height: 14px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 559px) {
  .container {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-6,
  .col-4,
  .col-8 {
    width: 100%;
  }
  .reverse-direction {
    flex-direction: column-reverse;
  }
  .justify-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 12px 0px 20px;
    gap: 10px;
  }
  .home-top-margin {
    padding-top: 75px;
  }
  .shop-now-btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    left: 30px;
  }
  .shop-now-btn svg {
    margin-left: 3px;
    top: 5px;
  }
  .home-background1 {
    background: url('/homebackgroundmobile1.png') no-repeat;
    background-size: cover;
    height: auto;
    text-align: -webkit-center;
    padding: 20px 0px;
  }
  .home-content1-card img {
    height: 50px;
    width: auto;
    margin-left: 0px;
  }
  .home-image1 img {
    height: 330px;
    width: auto;
    transform: scale(1);
    margin-bottom: 20px;
  }
  .heading-line {
    margin: -46px 0px -100px;
    font-size: 26px;
  }
  .hide-mobile-view {
    display: none;
  }
  #bottom-video-position {
    margin-top: -90px;
  }
  .subscribe-from input {
    width: 82%;
    height: 36px;
    padding-left: 15px;
    padding-right: 95px;
    font-size: 13px;
    font-weight: 500;
  }
  .subscribe-from button {
    padding: 5px 17px;
    left: 172px;
    top: -33px;
    font-size: 13px;
  }
  .subscribe-from {
    width: 312px;
    top: -62px;
    left: 30px;
  }
  .background-level {
    display: none;
  }
  .home-how-it-work h2 {
    font-size: 26px;
    margin: 0px;
  }
  .home-networking h2 {
    font-size: 26px;
    margin: 0px;
  }
  .networking-crd p {
    margin: 0px 2px;
    font-size: 11px;
  }
  .networking-crd img {
    height: 30px;
  }
  .networking-crd {
    padding: 10px;
  }
  .alignment-crd h3 {
    font-size: 25px;
  }
  .alignment-crd p {
    font-size: 12px;
  }
  .alignment-crd h5 {
    font-size: 22px;
    margin-left: 15px;
  }
  .alignment-crd img {
    height: 35px;
    width: auto;
  }
  .home-product h2 {
    font-size: 26px;
    margin: 0px;
  }
  .product-card {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
  }
  .product-card img {
    height: 150px;
    width: auto;
  }
  .product-card h5 {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
  }
  .product-card p {
    font-size: 12px;
  }
  .product-price label {
    font-size: 15px;
    left: -12px;
    padding: 6px 20px 6px 12px;
  }
  .product-price a {
    font-size: 15px;
  }
  .product-seemore a {
    padding: 8px 25px;
    border-radius: 8px;
  }
  .content-web3 img {
    height: 36px;
  }
  .content-web3-inside {
    width: 110px;
  }
  .content-web3-inside h5 {
    font-size: 14px;
  }
  .content-web3-inside p {
    font-size: 10px;
  }
  .content-web3 label {
    margin: 4px 0px 0px;
    font-size: 16px;
    height: 28px;
    width: 52px;
  }
  .shop-top-content h1 {
    font-size: 26px;
    margin: 0px;
  }
  .shop-product-content-inside h4 {
    font-size: 26px;
  }
  .shop-product-content-inside p {
    font-size: 22px;
    margin: 0px;
  }
  div.shop-product-content-inside {
    padding: 10px 0px 30px;
  }
  .border-product-detail {
    border-radius: 15px;
  }
  .home-web3-browser h2 {
    font-size: 26px;
    margin: 0px;
  }
  .footer-same {
    width: 50%;
    margin-bottom: 10px;
  }
  .footer-top {
    padding: 20px;
  }
  .footer-mid {
    text-align: -webkit-center !important;
  }
  .footer-bottom {
    text-align: -webkit-center !important;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .shop-product-ads {
    background: url('/shopadsbackground2.png') no-repeat;
    background-size: cover;
  }
  .about-futuristic h2 {
    font-size: 26px;
    margin: 0px;
  }
  .about-roadmap img {
    display: none;
  }
  .d-app-search input {
    width: 95%;
    margin-left: -5%;
    padding-left: 72px;
  }
  .opensea-img img {
    width: 200px;
  }
  .monkey-img {
    bottom: 58px;
    left: 15px;
    height: 251px;
  }
  .dapp-marketplace-first {
    height: 194px;
    border-radius: 20px;
  }
  .dapp-bottom1 {
    width: 60%;
  }
  .dapp-bottom2 {
    width: 38%;
  }
  .dapp-bottom3 {
    width: 100%;
  }
  .d-app-search h1 {
    font-size: 26px;
  }
  .d-app-search img {
    left: 7%;
    top: 7px;
    width: 30px;
    height: auto;
  }
  .dapp-marketplace {
    margin: 75px 0px 0px;
  }
  .dapp-slider {
    margin: -25px 0px -25px;
  }
  .dapp-bottom {
    margin: 0px;
  }
  .qr-top-first {
    width: 100%;
    padding: 30px 15px;
  }
  .center-icon {
    display: none;
  }
  .qr-top-second {
    width: 100%;
    margin-top: 25px;
  }
  .dapp-slider .swiper-slide {
    left: -20px;
  }
  .qr-code-penel {
    margin-bottom: 30px;
  }
  .home-how-it-work {
    margin-top: 0px;
  }
  .qr-generator-bottom h2 {
    margin-top: -5px;
  }
  .qr-generator-background img {
    height: 26px;
  }
  .qr-generator-background label {
    font-size: 13px;
  }
  .qr-custom-margin {
    margin-top: 0px;
  }
  #phone_image {
    height: 63%;
    margin-top: 46px;
    margin-left: 15px;
  }
  .qr-generator-custom-text1 {
    font-size: 13px;
    margin-left: -157px;
  }
  .qr-generator-custom-text2 {
    font-size: 13px;
    margin-top: 20px;
    margin-left: -44px;
  }
  .qr-generator-custom-text3 {
    font-size: 13px;
    margin-left: 40px;
    margin-top: 20px;
  }
  .qr-generator-background {
    background-size: cover;
    width: 100%;
    height: 76%;
  }
  .qr-generator-double {
    height: auto;
  }
  .qr_card-image {
    height: 100%;
  }
  .qr-generator-bottom {
    margin-bottom: 25px;
  }
  .qr-generator-double-bottom {
    background-size: contain;
    background-position-y: 73px;
    height: 200px !important;
    margin-top: 20px;
  }
  .qr-justify {
    margin-top: -30px;
  }
  .qr-generator-bottom h2 {
    font-size: 26px;
  }
  .product-details-content-inside h3 {
    font-size: 26px;
    margin: 10px 0px 0px;
  }
  .product-details-content-inside h4 {
    font-size: 22px;
  }
  .product-details-content-inside h6 {
    font-size: 18px;
  }
  .product-details-content-inside h5 {
    font-size: 20px;
  }
  div.product-details-content-inside {
    margin: 0px 10px;
  }
  .upload-image-container input {
    background-size: contain;
  }
  .font-container {
    padding: 5px;
  }
  .product-details-quantity label {
    margin: -2% 10%;
  }
  .addtocart-btn {
    padding: 6px 0px;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card-how-it {
    margin: 16px 32px;
  }
  .product-background {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
  .product-description {
    padding: 30px;
    margin: 30px 0px;
    border-radius: 15px;
  }
  .product-description-title h4 {
    margin: 0px 12px 0px 0px;
    font-size: 15px;
  }
  .product-description p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
  }
  .home-product {
    margin-top: 20px;
  }
  .contact-top h2 {
    font-size: 26px;
  }
  .contact-top p {
    font-size: 16px;
  }
  .return-policy h1 {
    font-size: 26px;
  }
  #return-p,
  .contact-top {
    font-size: 18px;
  }
  .return-policy h2 {
    font-size: 26px;
  }
  .return-policy p {
    font-size: 15px;
  }
  .help-youtube div {
    max-width: 100%;
    height: 100%;
    padding: 10px 0px;
  }
  .help-youtube {
    justify-content: center;
  }
  .help-container h1 {
    font-size: 26px;
  }
  #help-paragraph {
    font-size: 15px;
  }
  .troubleshoot h4 {
    font-size: 17px;
  }
  .help-detail-title h4 {
    font-size: 17px;
  }
  .help-detail p {
    font-size: 15px;
  }
  .help-detail-content {
    font-size: 14px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 449px) {
  .container {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-6,
  .col-4,
  .col-8 {
    width: 100%;
  }
  .reverse-direction {
    flex-direction: column-reverse;
  }
  .justify-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: 25px;
  }
  .home-top-margin {
    padding-top: 75px;
  }
  .shop-now-btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    left: 30px;
  }
  .shop-now-btn svg {
    margin-left: 3px;
    top: 5px;
  }
  .home-background1 {
    background: url('/homebackgroundmobile1.png') no-repeat;
    background-size: cover;
    height: auto;
    text-align: -webkit-center;
    padding: 20px 0px;
  }
  .home-content1-card img {
    height: 50px;
    width: auto;
    margin-left: 0px;
  }
  .home-image1 img {
    height: 330px;
    width: auto;
    transform: scale(1);
    margin-bottom: 20px;
  }
  .heading-line {
    margin: -46px 0px -100px;
    font-size: 26px;
  }
  .hide-mobile-view {
    display: none;
  }
  #bottom-video-position {
    margin-top: -90px;
  }
  .subscribe-from input {
    width: 82%;
    height: 36px;
    padding-left: 15px;
    padding-right: 95px;
    font-size: 13px;
    font-weight: 500;
  }
  .subscribe-from button {
    padding: 5px 17px;
    left: 172px;
    top: -33px;
    font-size: 13px;
  }
  .subscribe-from {
    width: 312px;
    top: 8px;
    left: 16px;
    margin-top: -69px;
  }
  .background-level {
    display: none;
  }
  .home-how-it-work h2 {
    font-size: 2px;
    margin: 0px;
  }
  .home-networking h2 {
    font-size: 26px;
    margin: 0px;
  }
  .networking-crd p {
    margin: 0px 2px;
    font-size: 11px;
  }
  .networking-crd img {
    height: 30px;
  }
  .networking-crd {
    padding: 10px;
  }
  .alignment-crd h3 {
    font-size: 25px;
  }
  .alignment-crd p {
    font-size: 12px;
  }
  .alignment-crd h5 {
    font-size: 22px;
    margin-left: 15px;
  }
  .alignment-crd img {
    height: 35px;
    width: auto;
  }
  .home-product h2 {
    font-size: 22px;
    margin: 0px;
  }
  .product-card {
    width: 100%;
  }
  .home-web3-browser h2 {
    font-size: 26px;
    margin: 0px;
  }
  .footer-same {
    width: 50%;
    margin-bottom: 10px;
  }
  .footer-top {
    padding: 20px;
  }
  .footer-mid {
    text-align: -webkit-center !important;
  }
  .footer-bottom {
    text-align: -webkit-center !important;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .about-roadmap img {
    display: none;
  }
  .nav-menu-ber img {
    display: block;
    height: 16px;
    width: auto;
  }
  .nav-menu-ber {
    padding: 25px;
  }
  .nav-menu-hidden a {
    font-size: 20px;
  }
  .menu-bottom-card {
    padding: 5px 5px;
  }
  .app-logo-container img {
    height: 35px;
  }
  .nav-menu-hidden {
    top: 70px;
  }
  .menu-bottom-card a {
    font-size: 12px;
  }
  .home-top-margin {
    padding-top: 54px;
  }
  .networking-crd p {
    margin: 0px;
    font-size: 10px;
  }
  .networking-crd img {
    height: 25px;
  }
  .home-networking-ber {
    padding: 15px 10px;
    border-radius: 10px;
    margin: 25px 0px;
  }
  .networking-crd {
    padding: 5px;
    border-radius: 10px;
  }
  .product-seemore a {
    padding: 8px 25px;
  }
  .content-web3 label {
    font-size: 14px;
    height: 24px;
    width: 36px;
    margin-top: 0px;
  }
  .home-web3-browser {
    margin: 25px 0px;
  }
  .content-web3 img {
    height: 22px;
  }
  .content-web3-inside h5 {
    font-size: 14px;
  }
  .content-web3-inside p {
    display: none;
  }
  .footer-first-content {
    flex-direction: column-reverse;
  }
  .footer-first-content img {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  #footer-link-bottom {
    padding-top: 0px;
    padding-bottom: 15px;
  }
  #footer-link-bottom {
    padding-top: 0px;
  }
  #footerSwop-logo {
    height: 25px;
    width: auto;
  }
  .footer-mid a {
    font-size: 12px;
  }
  .footer-bottom {
    text-align: -webkit-center !important;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer-mid {
    text-align: -webkit-center !important;
    margin-top: 0px;
  }
  .shop-top-content h1 {
    font-size: 22px;
  }
  .shop-product-content-inside h4 {
    font-size: 22px;
  }
  .shop-product-content-inside p {
    font-size: 16px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
  .about-card img {
    height: 310px;
    width: auto;
  }
  .about-futuristic h2 {
    font-size: 24px;
    margin: 0px;
  }
  .about-card {
    padding: 10px 25px;
  }
  .about-card h5 {
    font-size: 22px;
  }
  .home-how-it-work h2 {
    font-size: 22px;
  }
  .card-how-it {
    margin: 14px 24px;
    padding: 20px;
  }
  .features-card-image img {
    height: 70%;
    max-width: 70%;
    transform: scale(0.9);
  }
  .features-card-content h4 {
    font-size: 22px;
    text-align: center;
  }
  .features-card-content p {
    font-size: 15px;
    text-align: center;
  }
  .about-features h2 {
    font-size: 24px;
  }
  .about-roadmap {
    display: none;
  }
  .opensea-img img {
    width: 140px;
  }
  .d-app-search input {
    margin-left: 0px;
    margin-top: -13px;
  }
  .d-app-search img {
    top: 34px;
    left: -126px;
  }
  .d-app-search h1 {
    font-size: 18px;
    margin-bottom: -5px;
  }
  .monkey-img {
    bottom: 58px;
    left: 15px;
    height: 200px;
  }
  .dapp-marketplace-first {
    height: 142px;
    border-radius: 20px;
  }
  .col-4 .content-web3-inside p {
    display: block;
  }
  .col-4 .content-dapp-in {
    width: 140px;
  }
  .dapp-bottom3 {
    width: 100%;
    margin-top: 20px;
  }
  .qr-top-first-inside div {
    width: 25%;
  }
  #upload-logo {
    width: 172px;
    background-size: contain;
  }
  .qr-top-first {
    padding: 15px;
  }
  .swiper-slide .qr-card img {
    height: auto;
    width: 70px;
  }
  .upload-qr-logo {
    width: 320px;
  }
  .swiper-slide .qr-card {
    margin-left: -40px;
  }
  .qr-generator-bottom h2 {
    font-size: 22px;
  }
  .qr-generator-background {
    background-size: cover;
    width: 100%;
    height: 76%;
    padding: 20px;
  }
  .qr-generator-custom-text1 {
    font-size: 12px;
    margin-left: -120px;
  }
  .qr-generator-custom-text2 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: -44px;
  }
  .qr-generator-custom-text3 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 24px;
  }
  .qr-generator-double label {
    font-size: 15px;
  }
  .qr-generator-double-bottom {
    background-size: contain;
    background-position-y: 73px;
    height: 178px !important;
    margin-top: 20px;
  }
  .font-container select {
    font-size: 14px;
  }
  .product-details-quantity label {
    padding: 0px 8px;
  }
  .product-description-title h4 {
    margin: 0px 8px 0px 0px;
    font-size: 13px;
  }
  .product-description {
    padding: 15px;
    margin: 30px 0px;
    border-radius: 10px;
  }
  .shop-product-ads {
    background: url('/shopadsbackground2.png') no-repeat;
  }
  .product-description p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 12px;
  }
  .about-mid-container {
    margin: 50px 0px 0px;
  }
  .contact-top h2 {
    font-size: 22px;
  }
  .contact-top p {
    font-size: 14px;
  }
  .return-policy h1 {
    font-size: 22px;
  }
  #return-p,
  .contact-top {
    font-size: 16px;
  }
  .return-policy h2 {
    font-size: 22px;
  }
  .return-policy p {
    font-size: 15px;
  }
  .help-youtube div {
    max-width: 100%;
    height: 100%;
    padding: 10px 0px;
  }
  .help-container h1 {
    font-size: 22px;
  }
  #help-paragraph {
    font-size: 15px;
  }
  .troubleshoot h4 {
    font-size: 15px;
  }
  .help-detail-title h4 {
    font-size: 15px;
  }
  .help-detail p {
    font-size: 14px;
  }
  .help-detail-content {
    font-size: 13px;
  }
}
