/* Payment Start */

.shipping_input_box {
  border: 1px transparent solid;
  background-clip: padding-box;
  border-radius: 5px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.9285714286em 0.7857142857em;
  word-break: normal;
  line-height: inherit;
  font-size: 14px;
}
.shipping_input_box {
  background-color: white;
  color: #333333;
  border-color: #d9d9d9;
}
.contact_info_right_border {
  border-right: 0.5px solid #ada5a5;
  padding-right: 2rem;
  padding-top: 2rem;
}
.download__app_title {
  font-size: 20px;
}
.payment_footer__nav {
  color: #5e6ff3;
  font-size: 14px;
  border-top-width: 1px;
  margin-top: 2rem;
}
.continue_shipping {
  background: #6a3bdb;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 40px;
}
.form_submit {
  background: linear-gradient(90.71deg, #ac2be1 3.49%, #703bdd 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 10px 94px;
}
.shipping_product_list {
  background: #f8f8f8;
  padding: 1rem 2rem;
}
.footer__nav {
  padding: 8px 30px;
}
.section__title {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1.1557142857em;
  line-height: 1.3em;
}
.order-summary__emphasis {
  font-weight: 500;
  color: #323232;
}
.product__description__name,
.product__description__variant {
  padding-left: 1em;
}
.product__description__name,
.product__description__variant,
.product__description__property,
.product__description__price {
  display: block;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  line-height: 1.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  text-transform: capitalize;
}
.product-thumbnail {
  width: 4.5em;
  height: 4.5em;
  border-radius: 8px;
  background: #fff;
  position: relative;
}
.product-thumbnail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}
.product-thumbnail__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}
.product-thumbnail__quantity {
  font-size: 0.8571428571em;
  font-weight: 500;
  line-height: 1.75em;
  white-space: nowrap;
  text-align: center;
  border-radius: 1.75em;
  background-color: rgba(114, 114, 114, 0.9);
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0 0.5833333333em;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 3;
}
.product-thumbnail::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  z-index: 2;
}

.order-summary__section--product-list {
  padding-top: 2rem;
  border-bottom: 1px solid rgba(175, 175, 175, 0.34);
}

.field__input-btn {
  width: auto;
  margin-left: 0.8571428571em;
  white-space: nowrap;
  padding: 9px 20px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: rgb(106, 59, 219);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.invalid_code {
  color: #cb2b2b;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.get_discount {
  padding: 1rem 0rem;
}

.get_discount p {
  font-size: 14px;
  color: rgb(106, 59, 219);
  font-weight: 600;
  text-align: center;
}
.total_summary__section {
  padding: 1rem 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  text-transform: capitalize;
  color: #535353;
}
.total_summary_price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  text-transform: capitalize;
  color: #535353;
}
.payment-due-label__total {
  font-size: 1.1428571429em;
}
.payment-due__price {
  font-size: 1.7142857143em;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1em;
}
.full_width_img {
  display: block;
  height: 125px;
  width: 125px;
}
.ambass_swop_mg {
  display: block;
  height: 125px;
  width: 125px;
}
.small_view_img {
  display: none;
}

.section {
  position: relative;
  padding-top: 2em;
}
.section:first-child {
  padding-top: 0;
}
.content-box {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 5px;
  color: #545454;
}
.content-box,
.content-box-spacing {
  margin-top: 1em;
}
.content-box {
  border-color: #d9d9d9;
}
.content-box:first-of-type,
.content-box-spacing:first-of-type {
  margin-top: 0;
}
.content-box__row {
  padding: 1.1428571429em;
  position: relative;
  zoom: 1;
}
.content-box__row--tight-spacing-vertical {
  padding-top: 0.8571428571em;
  padding-bottom: 0.8571428571em;
}
.display-table .content-box__row {
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.content-box__row:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.content-box__row:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.content-box__row:after,
.content-box__row:before {
  content: "";
  display: table;
}
.review-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  line-height: 1.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}
.review-block__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.review-block__label {
  color: #737373;
  padding-right: 1.1428571429em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 5em;
  -ms-flex: 0 1 5em;
  flex: 0 1 5em;
}
.review-block__content {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  color: #333333;
  padding-right: 1.1428571429em;
}
.review-block__link {
  max-width: 10em;
  font-size: 0.8571428571em;
}
.review-block ~ .review-block {
  margin-top: 0.8571428571em;
  padding-top: 0.8571428571em;
  border-top: 1px solid #e6e6e6;
}
.address {
  font-style: normal;
  line-height: 1.5em;
}
.address--tight {
  line-height: inherit;
}
.link,
.breadcrumb__link {
  text-decoration: none;
  color: #1878b9;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.breadcrumb--center {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page--logo-main .breadcrumb {
  margin-top: 1em;
}
.breadcrumb__item {
  display: inline;
  font-size: 0.8571428571em;
  color: #737373;
}
.breadcrumb__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumb__item--current {
  font-weight: 500;
  color: #333333;
}
.icon-svg {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
.icon-svg--size-10 {
  width: 10px;
  height: 10px;
}
.breadcrumb__chevron-icon {
  margin: 0 0.6428571429em;
}
.main .icon-svg--color-adaptive-light {
  color: #737373;
  fill: currentColor;
}

.section__header h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: center;
}

.section__header p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  text-align: center;
}

.payment_section {
  padding-top: 1rem;
  padding-bottom: 10rem;
}
.error {
  color: red;
  font-size: 0.8rem;
  padding: 0.1rem 0;
}
/* Payment End */
